*{
    box-sizing:border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

.name {
    font: 350 5vw 'Jost', sans-serif;
    text-align: left;
    line-height: 110%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
}

.first {
    padding-bottom: 6%;
    letter-spacing: 0.25vw;
}

.last {
    letter-spacing: 1.15vw;
}

a {
    position: relative;
    display: inline-block;
    color: royalblue;
    overflow: hidden;
    background: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: left center;
    transition: background-position 0.5s;
    text-decoration: none;
}

a:hover {
    background-position: right center;
}

/* div.name:hover{
    background: #820079;
    background: -webkit-linear-gradient(to right, #820079 19%, #FF00A2 100%);
    background: -moz-linear-gradient(to right, #820079 19%, #FF00A2 100%);
    background: linear-gradient(to right, #820079 19%, #FF00A2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */